.App {
    background-color: #ffffff;
    position: absolute;
    width: 1728px;
    height: 1117px;
    left: 0px;
    top: 0px;
}

.header {
    position: absolute;
    width: 630px;
    height: 64px;
    left: 170px;
    top: 49px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    /* or 117% */

    display: flex;
    align-items: center;

    color: #074684;
}

.search-box {
    box-sizing: border-box;

    position: absolute;
    width: 750px;
    height: 50px;
    left: 170px;
    top: 152px;

    background: #FFFFFF;
    border: 2px solid #074684;
    border-radius: 10px;
}

.search-icon {
    height: 50px;
    width: 50px;
    position: absolute;
    left: 925px;
    top: 152px;

    border: 2px solid #074684;
    border-radius: 10px;

    /* 00. On Surface / High Emphasis */

}

.table {
    width: 500px;
    position: absolute;
    left: 170px;
    top: 240px;
}

.table-header {
    background: #074684;
    border-radius: 5px;
    color: #ffffff;
}

.sidebar-title{
    background: #a5c3e0;
}

.sidebar-body{
    font-size: 18px;
    font-family: 'Roboto';
}
.selected-item{
    background: #a5c3e0;
}
.team-game-detail{
    margin-top: 20px;
    font-weight: 600;
}